<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %-20c{1} %m%n"/>
        </layout>
    </appender>
    <appender name="stream" class="ubicrypt.core.util.StreamAppender">
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${user.home}/ubicrypt.log"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="3"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %-20c{1} %m%n"/>
        </layout>
    </appender>
    <category name="org.springframework">
        <level value="WARN"/>
    </category>
    <root>
        <priority value="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="stream"/>
    </root>

</log4j:configuration>
